      a{
           color: green;
       }
     a:hover{
           color: crimson;
       }
       h1{
           font-size: 25px;
       }
       h1,h2{
           font-family: times;
           text-decoration-line: underline;
       }
       table,th{
           color: #3B3B3B;
           font-size: 18px;
       }
    p,pre,li{
        font-weight: 400;
    
      }
       p,pre,li,table,td{
           font-family: serif;
           font-size: 18px;
           color: #3B3B3B;
           
       }
       body{
        background-color: #F6F6F6;
       }
       table,th,td{
       border: 1px solid #A9CEC2;
           font-size: 20px;
           border-collapse: collapse;
           padding: 5px;
           text-align: left;
           border-spacing: 5px;       
       }
table{
     width: 100%;
}
